{% extends 'base.html' %}

{% block contents %}

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card mb-3">
          <div class="card-header card-header-divider"> {{title}}
              <div style="float:right">
                <a class="btn btn-sm btn-primary" href="javascript:history.back()"><i class="mdi mdi-flip-to-back"></i> Kembali</a>
              </div>
            </div>
            <div class="card-body">
              <form method="post">
                {% csrf_token %}
                <table>
                  {{post_form}}
                </table>
                <button type="submit">Kirim</button>
              </form>
                </div>
  </div>
</div>
{% endblock contents %}
