{% extends 'base.html' %}

{% block contents %}

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card mb-3">
          <div class="card-header card-header-divider"> {{posts.title}} {{ request.get_full_path }}
              <div style="float:right">
                <a class="btn btn-sm btn-primary" href="javascript:history.back()"><i class="mdi mdi-flip-to-back"></i> Kembali</a>
              </div>
            </div>
          <div class="card-body">
              <p class="lead">{{posts.body}}</p>
            </div>
  </div>
</div>
{% endblock contents %}
