{% extends 'base.html' %}

{% block contents %}

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card mb-3">
          <div class="card-header card-header-divider">BLog {{category}}

          </div>
          <div class="card-body">
                <table class="table table-responsive-xl table-bordered">
                  <thead>
                    <tr>
                      <th width="10px">No</th>
                      <th  width="100px">Title </th>
                      <th>Body</th>
                      <th>Category</th>
                      <th>Waktu Posting</th>
                      <th width="10% "> <a href="{% url "blog:create" %}" class="btn btn-success btn-sm"><i class="mdi mdi-plus"></i> Tambah</a></th>
                    </tr>
                  </thead>
                  <tbody>

                    {% for post in posts %}
                      <tr>
                        <td align="center">{{forloop.counter}}</td>
                        <td><a href="{% url "blog:post" postInput=post.id %}">{{post.title}}</a></td>
                        <td>{{post.body}}</td>
                        <td><a href="{% url "blog:category" categoryInput=post.category %}">{{post.category}}</a></td>
                        <td>{{post.waktu_posting}}</td>
                        <td align="center">
                          <div class="btn-group">
                            <a href="{% url "blog:update" update_id=post.id %}" class="btn btn-xs btn-success">
                              <i class="mdi mdi-edit"></i>
                            </a>
                            <a href="{% url "blog:delete" delete_id=post.id %}" class="btn btn-xs btn-danger" onclick="javasciprt: return confirm('apakah anda yakin untuk menghapus ?')">
                              <i class="mdi mdi-delete"></i>
                            </a>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}

                  </tbody>
                </table>
      </div><!-- end card-->
  </div>
</div>
{% endblock contents %}
