<div class="be-left-sidebar">
  <div class="left-sidebar-wrapper"><a class="left-sidebar-toggle" href="#">Dashboard</a>
    <div class="left-sidebar-spacer">
      <div class="left-sidebar-scroll">
        <div class="left-sidebar-content">
          <ul class="sidebar-elements">
            <li class="divider">Menu</li>
            <li class="{{active_dashboard}}"><a href="{% url "index" %}"><i class="icon mdi mdi-home"></i><span>Dashboard</span></a>
            </li>
            <li class="{{active_blog}}"><a href="{% url "blog:index" %}"><i class="icon mdi mdi-home"></i><span>Blog</span></a>
            </li>
            <li class="parent">
              <a href="#">
                <i class="mdi mdi-collection-text"></i>
                <span>Monitoring Renja</span>
                <span class="menu-arrow"></span>
              </a>
              <ul class="sub-menu" style="">
                <li class="{{active_rekapAjuan}}">
                  <a href="{% url "monitoring:rekapAjuan" %}" class="nav-link ">
                    <i class="mdi mdi-chevron-right"></i> <span>Rekapitulasi Ajuan</span>
                  </a>
                </li>
                <li class="{{active_rekapAjuanopd}}">
                  <a href="{% url "monitoring:rekapAjuanopd" %}" class="nav-link ">
                    <i class="mdi mdi-chevron-right"></i> <span>Ajuan Program OPD</span>
                  </a>
                </li>
                <li class="{{active_rekapAjuanKegiatanopd}}">
                  <a href="{% url "monitoring:rekapAjuanKegiatanopd" %}" class="nav-link ">
                    <i class="mdi mdi-chevron-right"></i> <span>Ajuan Kegiatan OPD</span>
                  </a>
                </li>
                <li>
                  <a href="{% url "blog:index" %}" class="nav-link ">
                    <i class="mdi mdi-chevron-right"></i> <span>Laporan Renja</span>
                  </a>
                </li>
                <li class="{{active_renja2}}">
                  <a href="{% url "monitoring:renja2" %}" class="nav-link ">
                    <i class="mdi mdi-chevron-right"></i> <span>Laporan Renja2 </span>
                  </a>
                </li>
                <li class="{{active_kegiatanEntry}}">
                  <a href="{% url "monitoring:kegiatanEntry" %}" class="nav-link ">
                    <i class="mdi mdi-chevron-right"></i> <span>Kegiatan yg dientry <br>setelah forum OPD</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">
                <i class="mdi mdi-collection-text"></i>
                <span>Grafik</span>
                <span class="menu-arrow"></span>
              </a>
              <ul class="sub-menu" style="">
                <li class="{{active_grafik1}}">
                  <a href="{% url "grafik:grafik1" %}" class="nav-link ">
                    <i class="mdi mdi-chevron-right"></i> <span>Progres Usulan / Kecamatan</span>
                  </a>
                </li>
                <li class="{{active_grafik2}}">
                  <a href="{% url "grafik:grafik2" %}" class="nav-link ">
                    <i class="mdi mdi-chevron-right"></i> <span>Progres Usulan Desa</span>
                  </a>
                </li>
                <li class="{{active_grafik3}}">
                  <a href="{% url "grafik:grafik3" %}" class="nav-link ">
                    <i class="mdi mdi-chevron-right"></i> <span>Persentase Usulan Per Bidang  </span>
                  </a>
                </li>
                <li class="{{active_grafik4}}">
                  <a href="{% url "grafik:grafik4" %}" class="nav-link ">
                    <i class="mdi mdi-chevron-right"></i> <span>10 Top Usulan / Isu</span>
                  </a>
                </li>
                <li class="{{active_grafik5}}">
                  <a href="{% url "monitoring:renja2" %}" class="nav-link ">
                    <i class="mdi mdi-chevron-right"></i> <span>Desa Belum Entry </span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>