{% load static %}
<link rel="stylesheet" type="text/css" href=" {% static 'assets/lib/perfect-scrollbar/css/perfect-scrollbar.css' %}"/>
<link rel="stylesheet" type="text/css" href=" {% static 'assets/lib/material-design-icons/css/material-design-iconic-font.min.css' %}"/>
<link rel="stylesheet" type="text/css" href=" {% static 'assets/lib/jquery.vectormap/jquery-jvectormap-1.2.2.css' %}"/>
<link rel="stylesheet" type="text/css" href=" {% static 'assets/lib/jqvmap/jqvmap.min.css' %}"/>
<link rel="stylesheet" type="text/css" href=" {% static 'assets/lib/datetimepicker/css/bootstrap-datetimepicker.min.css' %}"/>
<link rel="stylesheet" href=" {% static 'assets/css/app.css' %}" type="text/css"/>