
{% extends 'base2.html' %}

{% block contents %}
{% load humanize %}
{% load mathfilters  %}
{% load comma_to_dot %}


<script type="text/javascript">
    $(function () {
      Highcharts.setOptions({
          lang: {
              thousandsSep: '.'
          }
      });
        $('#a').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Persentase Usulan Per Bidang'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.y:,.0f}</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },  credits: {
        enabled: false
    },
            series: [{
                name: 'Nilai Usulan (Rp)',
                colorByPoint: true,
                data: [
              {% for rk in data %}
              {
                    name: '{{rk.1}}',
                    y: {{rk.3}}
                },
              {% endfor %}

              ]
            }]
        });
    });
        </script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card mb-3">
          <div class="card-header card-header-divider">{{title}}
            <div class="tools float-right">
              <div class="btn-group">
                <!-- <a href="{% url "monitoring:excel_view" %}" class="btn btn-success btn-sm"><i class="mdi mdi-print"></i> Cetak</a> -->
              </div>
            </div>
          </div>
          <div class="card-body">
            <div id="a" style="min-width: 310px; max-width: 1200px; height: 500px; margin: 0 auto"></div>
      </div><!-- end card-->
  </div>
</div>
{% endblock contents %}
