
{% extends 'base2.html' %}

{% block contents %}
{% load humanize %}
{% load mathfilters  %}
{% load comma_to_dot %}


<script type="text/javascript">
    $(function () {
      Highcharts.setOptions({
          lang: {
              thousandsSep: '.'
          }
      });
        $('#a').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'TOP 10 Usulan Per Isu'
            },
            xAxis: {
                categories: [
                {% for rk in data %}
                '{{rk.1}}',
              {% endfor %}
                ],
                crosshair: true
            },
            // yAxis: {
            //     min: 0,
            //     title: {
            //         text: 'Nilai Usulan (Rp)'
            //     }
            // },
            yAxis: {

              labels: {
                  formatter: function() {
                      var ret,
                          numericSymbols = [' Ribu', ' Juta', ' Milyar', ' Triliun', 'P', 'E'],
                          i = 6;
                      if(this.value >=1000) {
                          while (i-- && ret === undefined) {
                              multi = Math.pow(1000, i + 1);
                              if (this.value >= multi && numericSymbols[i] !== null) {
                                  ret = (this.value / multi) + numericSymbols[i];
                              }
                          }
                      }
                      return 'Rp ' + (ret ? ret : this.value);
                  }
              },
                            title: {
                    text: 'Nilai Usulan (Rp)'
                }

          },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.y:,.0f} </b>',
                shared: true,
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Nilai Usulan (Rp)',
                data: [
                {% for rk in data %}
                {{rk.3}},
              {% endfor %}
                ]

            }]
        });
    });
        </script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card mb-3">
          <div class="card-header card-header-divider">{{title}}
            <div class="tools float-right">
              <div class="btn-group">
                <!-- <a href="{% url "monitoring:excel_view" %}" class="btn btn-success btn-sm"><i class="mdi mdi-print"></i> Cetak</a> -->
              </div>
            </div>
          </div>
          <div class="card-body">
            <div id="a" style="min-width: 310px; max-width: 1200px; height: 500px; margin: 0 auto"></div>
      </div><!-- end card-->
  </div>
</div>
{% endblock contents %}
