
{% extends 'base2.html' %}

{% block contents %}
{% load humanize %}
{% load mathfilters  %}
{% load comma_to_dot %}


<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> -->
<script type="text/javascript">
  $(function () {
      $('#container').highcharts({
        chart: {
              type: 'bar'
          },
          title: {
              text: 'Progres Usulan Jombang Berkadang Per Kecamatan'
          },
          subtitle: {
              text: ''
          },
          xAxis: {
              categories: [
              {% for rk in data %}
  '{{rk.0}}',
{% endfor %}

              ],
              title: {
                  text: null
              }
          },
          yAxis: {
              min: 0,
              title: {
                  text: 'Nilai Usulan (Rp) (Dalam Juta)  200 x Jumlah Desa ',
                  align: 'high'
              },
              labels: {
                  overflow: 'justify'
              }
          },
          tooltip: {
              valueSuffix: ' millions'
          },
          plotOptions: {
              bar: {
                  dataLabels: {
                      enabled: true
                  }
              }
          },
          // legend: {
          //     layout: 'vertical',
          //     align: 'right',
          //     verticalAlign: 'top',
          //     x: -40,
          //     y: 80,
          //     floating: true,
          //     borderWidth: 1,
          //     backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
          //     shadow: true
          // },
          credits: {
              enabled: false
          },
          series: [{
              name: 'Nilai Usulan (Rp)',
              data: [
              {% for rk in data %}
                {{rk.2|div:1000000|floatformat:2|comma_to_dot}},
              {% endfor %}

              ],
          tooltip: {
              valuePrefix: ' Rp ',
              valueSuffix: ' Juta '
          }
          }, {
              name: 'Jumlah Desa',
              data: [
              {% for rk in data %}
                {{rk.1}},
              {% endfor %}

              ],
          tooltip: {
              valueSuffix: ' Desa '
          }
          }]
      });
  });
      </script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card mb-3">
          <div class="card-header card-header-divider">{{title}}
            <div class="tools float-right">
              <div class="btn-group">
                <!-- <a href="{% url "monitoring:excel_view" %}" class="btn btn-success btn-sm"><i class="mdi mdi-print"></i> Cetak</a> -->
              </div>
            </div>
          </div>
          <div class="card-body">
            <div id="container" style="min-width: 310px; max-width: 1200px; height: 1000px; margin: 0 auto"></div>
      </div><!-- end card-->
  </div>
</div>
{% endblock contents %}
