
{% extends 'base2.html' %}

{% block contents %}
{% load humanize %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
  $(function () {
      $('#container').highcharts({
          chart: {
              type: 'bar'
          },
          title: {
              text: ''
          },
          subtitle: {
              text: ''
          },
          xAxis: {
              categories: [
              {% for rk in Data %}
                '{{rk.0}}',
              {% endfor %}



              ],
              title: {
                  text: null
              }
          },
          yAxis: {
              min: 0,
              title: {
                  text: 'Nilai Usulan (Rp) (Dalam Juta) sd 200',
                  align: 'high'
              },
              labels: {
                  overflow: 'justify'
              }
          },
          tooltip: {
              valuePrefix: ' Rp ',
              valueSuffix: ' Juta '
          },
          plotOptions: {
              bar: {
                  dataLabels: {
                      enabled: true
                  }
              }
          },
          credits: {
              enabled: false
          },
          series: [{
              name: '',
              data: [
              {% for rk in Data %}
                {{rk.1}},
              {% endfor %}

]
          }]
      });
  });
      </script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card mb-3">
          <div class="card-header card-header-divider">{{title}}
            <div class="tools float-right">
              <div class="btn-group">

              </div>
            </div>
          </div>
          <div class="card-body">

            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group row pt-1">
                        <label class="col-3 col-sm-3 col-form-label text-sm-right">Kecamatan</label>
                        <div class="col-12 col-sm-8 col-lg-6">
                            <select class="form-control form-control-xs" name="opd" id="opd" placeholder="OPD">

                                <option value="None" style="color:black">Pilih Kecamatan</option>
                                {% for rk in Opd %}
                                  <option
                                     value="{{rk.0}}"
                                     {% if rk.0 == Opd_id %}
                                     selected="selected"
                                     {% endif %}>{{rk.1}}</option>
                                {% endfor %}

                            </select>
                      </div>
                  </div>
            </div>
      </div><!-- end card-->

        {% if Data|length > 0 %}
        <div id="container" style="min-width: 310px; max-width: 1200px; height: 1000px; margin: 0 auto"></div>
        {% endif %}
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
        $("#opd").val("{{Opd_id}}");
     $("#opd").on('change',function(e){
        opd = $('#opd').val();
        // alert(opd);
        var url_mask = '{% url "grafik:grafik2" opd_id=1%}'.replace(/1/, opd.toString());
        window.location.href = url_mask;
      });
      // $("#print").on('click',function(e){
      //   opd = $('#opd').val();
      //   // alert(opd);
      //   if (opd=='None') {
      //     opd=0
      //   }
      //   var url_mask = '{% url "monitoring:excel_view_rekapAjuanopd" opd_id=1%}'.replace(/1/, opd.toString());
      //   window.location.href = url_mask;
      // });
  });

</script>
{% endblock contents %}
