{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="<?= base_url().'px/images/'?>favicon.ico" type="image/x-icon" />
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/lib/perfect-scrollbar/css/perfect-scrollbar.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/lib/material-design-icons/css/material-design-iconic-font.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/lib/jquery.vectormap/jquery-jvectormap-1.2.2.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/lib/jqvmap/jqvmap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/lib/datetimepicker/css/bootstrap-datetimepicker.min.css' %}"/>
     <link rel="stylesheet" type="text/css" href="{% static 'assets/lib/select2/css/select2.min.css' %}"/>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'assets/css/app.css' %}" type="text/css"/>
  </head>
  <body>
    <div class="be-wrapper be-fixed-sidebar">
      <nav class="navbar navbar-expand fixed-top be-top-header">
        <div class="container-fluid">
          <div class="be-navbar-header"><a class="navbar-brand" href=""></a>
          </div>
          <div class="be-right-navbar">
            <ul class="nav navbar-nav float-right be-user-nav">
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><img src="assets/img/avatar.png" alt="Avatar"><span class="user-name"><?= get_userdata('nama') ?></span></a>
                <div class="dropdown-menu" role="menu">
                  <div class="user-info">
                    <div class="user-name"><?= get_userdata('nama') ?></div>
                    <div class="user-position online">Available</div>
                  </div><a class="dropdown-item" href="<?= base_url('auth/logout')?>"><span class="icon mdi mdi-power"></span>Logout</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- left menu -->
    {% include "snippets/sidebar.html" %}
      <div class="be-content">
        <div class="page-head">
            <!-- <h2 class="page-head-title">{{title}}</h2> -->
              <!-- <ol class="breadcrumb page-head-nav"> -->
                <!-- <li class="breadcrumb-item"><a href="#"></a></li> -->
                <!-- <li class="breadcrumb-item"><a href="#">Tables</a></li> -->
                <!-- <li class="breadcrumb-item active">General</li> -->
              <!-- </ol> -->
          </div>
          <div class="main-content container-fluid">
          <!-- <?= $this->session->flashdata('message')?> -->
            <!-- <?= $contents ?> -->

            {% block contents %}

            {% endblock contents %}
          </div>
      </div>
    </div>

    <!-- <script src="{% static 'assets/lib/jquery/jquery.min.js' %}" type="text/javascript"></script> -->
    <script src="{% static 'assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/app.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/lib/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
     <script src="{% static 'assets/lib/select2/js/select2.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/lib/select2/js/select2.full.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'assets/lib/datetimepicker/js/bootstrap-datetimepicker.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
      // menu aktif
      $(function() {
          var base="http://localhost:8000/";
          var seg='blog';
          // location.href
        $('.sidebar-elements a[href~="' + base+seg + '"]').parents('li').addClass('active');
      });



      $(document).ready(function(){
      	//-initialize the javascript
      	App.init();
      	// App.dashboard();




      });

      $(document).ready(function() {
        $('.select2').select2({
           placeholder: 'Silahkan pilih',
            allowClear: true,
            width: '100%'
        });
    });
    </script>
    <script type="text/javascript">
        $('.datepicker').datetimepicker({
            minView: 2,
            format: 'dd/mm/yyyy',
            autoclose: true
        });

        function hanyaAngka(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
             if (charCode > 31 && (charCode < 48 || charCode > 57))

              return false;
            return true;
          }
    </script>

  </body>

<!-- Mirrored from foxythemes.net/preview/products/beagle/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 13 Jul 2018 11:56:26 GMT -->
</html>