{% extends 'base2.html' %}

{% block contents %}

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="row">
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-header card-header-divider">Body text<span class="card-subtitle">Mauris vestibulum libero.</span></div>
                  <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ornare iaculis purus, eget gravida est lacinia at. Nam magna dolor, vestibulum ut consequat in, dictum a metus.</p>
                    <p>Pellentesque vulputate arcu sed risus auctor tincidunt. Morbi eget massa turpis. Fusce aliquet dolor eu posuere tincidunt. Fusce ultricies luctus dui, dapibus pharetra risus semper non. Maecenas tempus est neque, sit amet malesuada augue tempor vitae. Proin mattis efficitur enim ut molestie.

                    {% for user in User %}
                      {{user.id}}
                    {% endfor %}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-header card-header-divider">Lead body<span class="card-subtitle">Mauris vestibulum libero.</span></div>
                  <div class="card-body">
                    <p class="lead">Fusce interdum ante nisl, a gravida turpis venenatis eget. Sed pretium consectetur urna et rhoncus.</p>
                    <p>Pellentesque vulputate arcu sed risus auctor tincidunt. Morbi eget massa turpis. Fusce aliquet dolor eu posuere tincidunt. Fusce ultricies luctus dui, dapibus pharetra risus semper non. Maecenas tempus est neque, sit amet malesuada augue tempor vitae. Proin mattis efficitur enim ut molestie.</p>
                  </div>
                </div>
              </div>
            </div>


  </div>
</div>
{% endblock contents %}
