{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>e-Planning Kabupaten Jombang</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <link rel="stylesheet" href="{% static 'libs_dashboard/assets/animate.css/animate.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'libs_dashboard/assets/font-awesome/css/font-awesome.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'libs_dashboard/assets/simple-line-icons/css/simple-line-icons.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'libs_dashboard/jquery/bootstrap/dist/css/bootstrap.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'assets2/css/font.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'assets2/css/homepage.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'libs_dashboard/jquery/jquery.confirm/css/jquery-confirm.css' %}" type="text/css" />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <!-- Favicons -->
  <link href="{% static 'homepage_assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'homepage_assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'homepage_assets/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{% static 'homepage_assets/lib/bootstrap/css/style2.css' %}"/>

  <!-- Libraries CSS Files -->
  <link href="{% static 'homepage_assets/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'homepage_assets/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'homepage_assets/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'homepage_assets/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'homepage_assets/lib/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
  <link href="{% static 'homepage_assets/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'homepage_assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Reveal
    Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body id="body">

  <!--==========================
    Top Bar
  ============================-->

  <!--==========================
    Header
  ============================-->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">

    <!-- <div class="intro-content">
      <h2>Making <span>your ideas</span><br>happen!</h2>
      <div>
        <a href="{% static '#about" class="btn-get-started scrollto">Get Started</a>
        <a href="{% static '#portfolio" class="btn-projects scrollto">Our Projects</a>
      </div>
    </div> -->

    <div id="intro-carousel" class="owl-carousel" >
      <div class="item" style="background-image: url('{% static '/homepage_assets/img/intro-carousel/6.jpg' %}');"></div>
      <!-- <div class="item" style="background-image: url('img/intro-carousel/2.jpg');"></div>
      <div class="item" style="background-image: url('img/intro-carousel/3.jpg');"></div>
      <div class="item" style="background-image: url('img/intro-carousel/4.jpg');"></div>
      <div class="item" style="background-image: url('img/intro-carousel/5.jpg');"></div> -->
    </div>

  </section><!-- #intro -->

  <main id="main">


    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">
        <div class="row">

            <div class="col-lg-4">
              </div>
            <div class="col-md-4">
              <div class="section-title">
                <h2>Login</h2>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
          </div>
          <div class="col-lg-4">
            <form class="form-horizontal" role="form" method="POST" action="">

              {% csrf_token %}
              <input type="text" name="email" placeholder="Username" class="input-sm form-control input-dark m-b-md">
              <input type="password" name="password" placeholder="Password" class="input-sm form-control input-dark m-b-md">
              <div class="form-group">
                <div class="row m-b-md">
                  <div class="col-md-5">
                    <!--
                    <div>
                      <input ui-jq="TouchSpin" type="text" value="2016" class="input-dark input-xl form-control" data-min='2000' data-max="2100" data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up"  data-verticaldownclass="fa fa-caret-down">
                    </div>
                    -->
                  </div>

                  <div class="col-md-5" style="padding:30px;">
                    <button class="btn m-b-sm m-r-sm btn-warning w-full input-xl">LOGIN</button>
                  </div>
                </div>
              </div>
            </form>
        </div>
        </div>
            <div class="row">
                <div class="col-md-12">
                  <div class="section-title">
                    <h2>News</h2>
                  </div>
                </div>

                <!-- post -->
                <div class="col-md-12">
                  <div class="post">
                    <div class="post-body">
                      <div class="post-meta">
                        <a class="post-category cat-1" href="/category">Web Design</a>
                        <span class="post-date">March 27, 2018</span>
                      </div>
                      <h3 class="post-title"><a href="/show">Pagedraw UI Builder Turns Your Website Design Mockup Into Code Automatically</a></h3>
                    </div>
                  </div>
                </div>
                <!-- /post -->
              </div>
        <div class="row">
              <div class="col-lg-12 content">
                    <div class="panel panel-default">
                      <div class="panel-body wrapper-sm">
                          <h3 class="m-t-xs text-orange font-semibold m-b-sm">Jadwal Entri Jombang Berkadang Hari ini</h3>
                        <div class="table-responsive">
                            <table class="table table-bordered"  font-size="15px" width="100%">

                            <tbody><tr>
                                <td width="50px"><b>No</b></td>
                                <td><b>Kecamatan</b></td>
                                <td width="400px"><b>Jadwal</b></td>
                                <td width="180px"><b>Desa</b></td>
                            </tr>
                          </tbody>
                        </table>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
        <div class="row">
            <div class="col-lg-12 content">
                  <div class="panel panel-default">
                    <div class="panel-body wrapper-sm">
                        <h3 class="m-t-xs text-orange font-semibold m-b-sm">Jadwal Entri Jombang Musrenbang Hari ini</h3>
                      <div class="table-responsive">
                          <table class="table table-bordered"  font-size="15px" width="100%">

                          <tbody><tr>
                              <td width="50px"><b>No</b></td>
                              <td><b>Kecamatan</b></td>
                              <td width="400px"><b>Jadwal</b></td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                    </div>
                  </div>
                </div>
      </div>
        <div class="row">

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="{% static '">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident etiro rabeta lingo.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <div class="icon"><i class="fa fa-picture-o"></i></div>
              <h4 class="title"><a href="{% static '">Dolor Sitema</a></h4>
              <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata nodera clas.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="{% static '">Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur trinige zareta lobur trade.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-map"></i></div>
              <h4 class="title"><a href="{% static '">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum rideta zanox satirente madera</p>
            </div>
          </div>

        </div>
      </div>
    </section><!-- #services -->


  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        © Copyright 2019. Badan Perencanaan Pembangunan Daerah (Bappeda) Kabupaten Kediri
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{% static 'homepage_assets/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'homepage_assets/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'homepage_assets/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'homepage_assets/lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'homepage_assets/lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'homepage_assets/lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'homepage_assets/lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'homepage_assets/lib/magnific-popup/magnific-popup.min.js' %}"></script>
  <script src="{% static 'homepage_assets/lib/sticky/sticky.js' %}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="{% static 'homepage_assets/contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'homepage_assets/js/main.js' %}"></script>


<script src="{% static 'libs_dashboard/jquery/jquery/dist/jquery.js' %}"></script>
<script src="{% static 'libs_dashboard/jquery/bootstrap/dist/js/bootstrap.js' %}"></script>
<script src="{% static 'assets2/js/ui-load.js' %}"></script>
<script src="{% static 'assets2/js/ui-jp.config.js' %}"></script>
<script src="{% static 'assets2/js/ui-jp.js' %}"></script>
<script src="{% static 'assets2/js/ui-nav.js' %}"></script>
<script src="{% static 'assets2/js/ui-toggle.js' %}"></script>
<script src="{% static 'assets2/js/ui-client.js' %}"></script>
<script src="{% static 'assets2/js/custom.js' %}"></script>
<script src="{% static 'libs_dashboard/jquery/jquery.confirm/js/jquery-confirm.js' %}"></script>
<script>
$('.kec').click(function() {
      var d = $(this).data('id');
      var kec = $(this).data('kec');
      var tgl = $(this).data('tgl');
      $.ajax({
          url: "/musrenbang/2019/tahapan/get_kel/"+d,
          type: "GET",
          success: function(msg){
            $.alert({
        title: 'KECAMATAN '+kec,
        content: msg,
      });
            }
        });
});
</script>
</body>
</html>
