
{% extends 'base2.html' %}

{% block contents %}
{% load humanize %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card mb-3">
          <div class="card-header card-header-divider">{{title}}
            <div class="tools float-right">
              <div class="btn-group">
                <a href="#" class="btn btn-success btn-sm" id="print"><i class="mdi mdi-print" ></i> Cetak</a>
              </div>
            </div>
          </div>
          <div class="card-body">

            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group row pt-1">
                        <label class="col-3 col-sm-3 col-form-label text-sm-right">OPD</label>
                        <div class="col-12 col-sm-8 col-lg-6">
                            <select class="form-control form-control-xs" name="opd" id="opd" placeholder="OPD">

                                <option value="None" style="color:black">Pilih OPD</option>
                                {% for rk in Opd %}
                                  <option
                                     value="{{rk.0}}"
                                     {% if rk.0 == Opd_id %}
                                     selected="selected"
                                     {% endif %}>{{rk.1}}</option>
                                {% endfor %}

                            </select>
                      </div>
                  </div>
            </div>
                <table class="table table-responsive-xl table-bordered">
                  <thead>
                    <tr>
                        <th width="3%">No</th>
                        <th>Kode OPD</th>
                        <th>OPD</th>
                        <th>Kode Program</th>
                        <th>Program</th>
                        <th>Kegiatan</th>
                        <th>Sub Kegiatan</th>
                        <th>Anggaran</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- {{Data}} -->
                    {% for rk in Data %}
                      <tr>
                        <td align="center">{{forloop.counter}}</td>
                        <td>{{rk.1}}</td>
                        <td>{{rk.2}}</td>
                        <td class="text-left">{{rk.3}}</td>
                        <td class="text-left">{{rk.4}}</td>
                        <td class="text-left">{{rk.5}}</td>
                        <td class="text-right">{{rk.6|intcomma }}</td>
                        <td class="text-right">{{rk.7|intcomma}}</td>
                      </tr>
                    {% endfor %}

                  </tbody>
                </table>
      </div><!-- end card-->
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
        $("#opd").val("{{Opd_id}}");
     $("#opd").on('change',function(e){
        opd = $('#opd').val();
        // alert(opd);
        var url_mask = '{% url "monitoring:rekapAjuanopd" opd_id=1%}'.replace(/1/, opd.toString());
        window.location.href = url_mask;
      });
      $("#print").on('click',function(e){
        opd = $('#opd').val();
        // alert(opd);
        if (opd=='None') {
          opd=0
        }
        var url_mask = '{% url "monitoring:excel_view_rekapAjuanopd" opd_id=1%}'.replace(/1/, opd.toString());
        window.location.href = url_mask;
      });
  });

</script>
{% endblock contents %}
