
{% extends 'base2.html' %}

{% block contents %}
{% load humanize %}
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card mb-3">
          <div class="card-header card-header-divider">{{title}}
            <div class="tools float-right">
              <div class="btn-group">
                <a href="{% url "monitoring:excel_view" %}" class="btn btn-success btn-sm"><i class="mdi mdi-print"></i> Cetak</a>
              </div>
            </div>
          </div>
          <div class="card-body">
                <table class="table table-responsive-xl table-bordered">
                  <thead>
                    <tr>
                        <th width="3%">No</th>
                        <th>Kode OPD</th>
                        <th>OPD</th>
                        <th>Porgram</th>
                        <th>Kegiatan</th>
                        <th>Sub Kegiatan</th>
                        <th>APBD</th>
                        <th>DBHCHT</th>
                        <th>DAK</th>
                        <th>TP</th>
                        <th>LAINYA</th>
                        <th>Total Anggaran</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- {{Data}} -->
                    {% for rk in Data %}
                      <tr>
                        <td align="center">{{forloop.counter}}</td>
                        <td>{{rk.0}}</td>
                        <td>{{rk.1}}</td>
                        <td class="text-center">{{rk.2}}</td>
                        <td class="text-center">{{rk.3}}</td>
                        <td class="text-center">{{rk.4}}</td>
                        <td class="text-right">{{rk.6|intcomma }}</td>
                        <td class="text-right">{{rk.7|intcomma}}</td>
                        <td class="text-right">{{rk.8|intcomma}}</td>
                        <td class="text-right">{{rk.9|intcomma}}</td>
                        <td class="text-right">{{rk.10|intcomma}}</td>
                        <td class="text-right">{{rk.5|intcomma}}</td>
                      </tr>
                    {% endfor %}

                  </tbody>
                </table>
      </div><!-- end card-->
  </div>
</div>
{% endblock contents %}
