
{% extends 'base2.html' %}

{% block contents %}
{% load humanize %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card mb-3">
          <div class="card-header card-header-divider">{{title}}
            <div class="tools float-right">
              <div class="btn-group">

                {% if Data|length > 0 %}

                <a href="{% url "monitoring:excel_view_rekapAjuanKegiatanopd" opd_id=Opd_id%}" class="btn btn-success btn-sm" id="print"><i class="mdi mdi-print" ></i> Cetak</a>
                {% endif %}

              </div>
            </div>
          </div>
          <div class="card-body">

            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group row pt-1">
                        <label class="col-3 col-sm-3 col-form-label text-sm-right">OPD</label>
                        <div class="col-12 col-sm-8 col-lg-6">
                            <select class="form-control form-control-xs" name="opd" id="opd" placeholder="OPD">

                                <option value="None" style="color:black">Pilih OPD</option>
                                {% for rk in Opd %}
                                  <option
                                     value="{{rk.0}}"
                                     {% if rk.0 == Opd_id %}
                                     selected="selected"
                                     {% endif %}>{{rk.1}}</option>
                                {% endfor %}

                            </select>
                      </div>
                  </div>
            </div>

            {% if Data|length > 0 %}
            <div class="table-responsive">
            <table class="table table-responsive-xl table-bordered">
                <thead>
                  <tr>
                      <th width="3%">No </th>
                      <th>Kode OPD</th>
                      <th>OPD</th>
                      <th>Kode Program</th>
                      <th>Program</th>
                      <th>kode Kegiatan</th>
                      <th>Kegiatan</th>
                      <th>Sub Kegiatan</th>
                      <th>APBD</th>
                      <th>DBHCT</th>
                      <th>DAK</th>
                      <th>TP</th>
                      <th>LAINYA</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- {{Data}} -->
                  {% for rk in Data %}
                    <tr>
                      <td align="center">{{forloop.counter}}</td>
                      <td>{{rk.2}}</td>
                      <td>{{rk.3}}</td>
                      <td class="text-left">{{rk.6}}</td>
                      <td class="text-left">{{rk.7}}</td>
                      <td class="text-left">{{rk.8}}</td>
                      <td class="text-left">{{rk.9}}</td>
                      <td class="text-left">{{rk.10}}</td>
                      <td class="text-right">{{rk.12|intcomma }}</td>
                      <td class="text-right">{{rk.13|intcomma}}</td>
                      <td class="text-right">{{rk.14|intcomma }}</td>
                      <td class="text-right">{{rk.15|intcomma}}</td>
                      <td class="text-right">{{rk.16|intcomma }}</td>
                    </tr>
                  {% endfor %}

                </tbody>
              </table>
              </div>
            {% endif %}

      </div><!-- end card-->
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
        $("#opd").val("{{Opd_id}}");
     $("#opd").on('change',function(e){
        opd = $('#opd').val();
        // alert(opd);
        var url_mask = '{% url "monitoring:rekapAjuanKegiatanopd" opd_id=1%}'.replace(/1/, opd.toString());
        window.location.href = url_mask;
      });
      // $("#print").on('click',function(e){
      //   opd = $('#opd').val();
      //   // alert(opd);
      //   if (opd=='None') {
      //     opd=0
      //   }
      //   var url_mask = '{% url "monitoring:excel_view_rekapAjuanopd" opd_id=1%}'.replace(/1/, opd.toString());
      //   window.location.href = url_mask;
      // });
  });

</script>
{% endblock contents %}
