
{% extends 'base2.html' %}

{% block contents %}
{% load humanize %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card mb-3">
          <div class="card-header card-header-divider">{{title}}
            <div class="tools float-right">
              <div class="btn-group">

                {% if Data|length > 0 %}

                <a href="{% url "monitoring:excel_view_rekapAjuanKegiatanopd" opd_id=Opd_id%}" class="btn btn-success btn-sm" id="print"><i class="mdi mdi-print" ></i> Cetak</a>
                {% endif %}

              </div>
            </div>
          </div>
          <div class="card-body">

            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group row pt-1">
                        <label class="col-3 col-sm-3 col-form-label text-sm-right">OPD</label>
                        <div class="col-12 col-sm-8 col-lg-6">
                            <select class="form-control form-control-xs" name="opd" id="opd" placeholder="OPD">

                                <option value="None" style="color:black">Pilih OPD</option>
                                {% for rk in Opd %}
                                  <option
                                     value="{{rk.0}}"
                                     {% if rk.0 == Opd_id %}
                                     selected="selected"
                                     {% endif %}>{{rk.1}}</option>
                                {% endfor %}

                            </select>
                      </div>
                  </div>
            </div>

            {% if Data|length > 0 %}
            <div class="table-responsive">
            <table class="table table-responsive-xl table-bordered">
                <thead>
                    <tr>
                        <th align="center" rowspan="2"> No</th>
                        <th align="center" colspan="2">Program/Kegiatan</th>
                        <th align="center" rowspan="2">lokasi</th>
                        <th align="center" rowspan="2">Sasaran</th>
                        <th align="center" rowspan="2">Indikator Hasil /Indikator Keluaran</th>
                        <th align="center" rowspan="2">Target</th>
                        <th align="center" colspan="5">Usulan Anggaran</th>
                        <th align="center" rowspan="2">Prakiraan Maju Tahun</th>
                      </tr>
                      <tr>
                        <th align="center">kode</th>
                        <th align="center">Nama</th>
                        <th align="center">APBD</th>
                        <th align="center"> DBHCHT</th>
                        <th align="center">DAK</th>
                        <th align="center">TP</th>
                        <th align="center">Lainya</th>

                      </tr>
                      <tr>
                        <th align="center">1</th>
                        <th align="center">2</th>
                        <th align="center">3</th>
                        <th align="center">4</th>
                        <th align="center">5</th>
                        <th align="center">6</th>
                        <th align="center">7</th>
                        <th align="center">8</th>
                        <th align="center">9</th>
                        <th align="center">10</th>
                        <th align="center">11</th>
                        <th align="center">12</th>
                        <th align="center">13</th>
                      </tr>
                </thead>
                <tbody>
                    {% with PROGRAM_KODE="" greeting="Hello" %}
                  <!-- {{Data}} -->
                  {%  for rk in Data %}
                    <tr>
                      <td align="center">{{forloop.counter}}</td>
                      <!-- program -->

                      {% ifnotequal  PROGRAM_KODE rk.2 %}

                      <td>{{rk.2}}</td>
                      <td>{{rk.3}}</td>
                      {% else %}

                      <td></td>
                      <td></td>
                      {% endifnotequal  %}

                      <!-- end program -->
                      <td class="text-left">{{rk.4|default_if_none:''}}</td>
                      <td class="text-left">{{rk.5|default_if_none:''}}</td>
                      <td class="text-left">{{rk.6|default_if_none:''}}</td>
                      <td class="text-left">{{rk.7|default_if_none:''}} {{rk.8|default_if_none:''}}</td>
                      <td class="text-right">{{rk.9 |default_if_none:''|intcomma}}</td>
                      <td class="text-right">{{rk.10 |default_if_none:''|intcomma}}</td>
                      <td class="text-right">{{rk.11 |default_if_none:''|intcomma}}</td>
                      <td class="text-right">{{rk.12 |default_if_none:''|intcomma}}</td>
                      <td class="text-right">{{rk.13|default_if_none:''|intcomma}}</td>
                      <td>0</td>
                    </tr>

                    {% with  PROGRAM_KODE=rk.2  %}

                    {% endwith %}

                  {% endfor %}
                  {% endwith %}
                </tbody>
              </table>
              </div>
            {% endif %}

      </div><!-- end card-->
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
        $("#opd").val("{{Opd_id}}");
     $("#opd").on('change',function(e){
        opd = $('#opd').val();
        // alert(opd);
        var url_mask = '{% url "monitoring:renja2" opd_id=1%}'.replace(/1/, opd.toString());
        window.location.href = url_mask;
      });
      // $("#print").on('click',function(e){
      //   opd = $('#opd').val();
      //   // alert(opd);
      //   if (opd=='None') {
      //     opd=0
      //   }
      //   var url_mask = '{% url "monitoring:excel_view_rekapAjuanopd" opd_id=1%}'.replace(/1/, opd.toString());
      //   window.location.href = url_mask;
      // });
  });

</script>
{% endblock contents %}
